[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"  # >=3.2, ==3.*
psycopg2 = "*"
channels = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.9"
