/* revert the "width: 80%" set by the WOS CSS to the default */
td {
  width: 100%;
}
tr,
td {
  border: 1px solid;
  padding-left: 30px;
  padding-right: 30px;
}

table td:nth-child(1) {
  width: 10%;
  text-align: end;
}
