#content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 36px;
}

#wall-of-shame {
  width: 96%;
  display: flex;
  gap: 2%;
  justify-content: center;
}

table {
  flex: 1 1 0;
  min-width: 0;
}

tr, td {
  border: 1px solid;
}

.username {
  width: 100%;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.balance {
  width: 1%;
  text-align: right;
  white-space: nowrap;
}

#message {
  text-align: center;
  font-size: 48px;
}

#debt,
#balance,
#assets {
  text-align: center;
  font-size: 24px;
}
