header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  height: 2.5em;
  margin-bottom: 1em;
  align-items: center;
  justify-items: center;
}

header > .left {
  justify-self: start;
}

header > .right {
  grid-column: 3;
  justify-self: end;
}

header button {
  margin: 0;
}

#logout[disabled] {
  display: none;
}

#error {
  color: var(--chez-red);
  text-align: center;
}

#terminal {
  align-items: stretch;
  display: grid;
  grid-template:
    "header" auto
    "face" minmax(0, 1fr)
    "error" auto
    "instructions" 30%
    "footer" 2em / 100%;

  padding: 10px;
  height: 100%;
}

.totals {
  display: inline-grid;
  grid-template:
    "s sd" auto
    "b bd" auto
    / auto auto;
  width: min-content;
  align-self: flex-end;
  column-gap: 1em;
  margin-top: 1em;
}

.totals > *:nth-child(even) {
  text-align: right;
}

/** PRICE CHECK **/
#content {
  margin: 0 auto;
  display: grid;
  border: 7px solid var(--bob-color);
  border-radius: 0 0 20px 20px;
  transition: all 200ms linear;
  aspect-ratio: unset;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  --line-color: var(--bob-color);
  display: flex;

  flex-direction: column;
}

.glow,
#content[data-title]::before {
  box-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
    -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px var(--line-color),
    inset 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
    inset -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
    inset 0 0 3px var(--line-color) !important;
}

/* Rows of price-check and purchase */
.price-row {
  display: flex;
  flex-wrap: nowrap;
}

.price-row > .price-name,
.price-row > .price-cost {
  width: max-content;
  white-space: nowrap;
}

.dots {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: "";
}
.dots::after {
  content: "..................................................................................";
}

#hint {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-self: center;
}

/******
 FACE
******/

#face {
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  align-self: stretch;
  min-height: 0;
  justify-content: center;
}

#content {
  --top-padding: 2em;
  overflow: scroll;
  padding: var(--top-padding) 1em 1em 1em;
}

/* Styling for the mouth with no data in it */
#content:not([data-title]) {
  flex-grow: 0;
  width: 260px;
  height: 150px;
  aspect-ratio: 1.75 / 1;
  border-radius: 10px 10px 50% 50% / 10px 10px 100% 100%;
  color: transparent;
  text-shadow: none;
}

/* style for the title on Bob's mouth */
#content::before {
  content: "";
  position: absolute;
  align-self: center;
  transform: translateY(calc(-1.5em - var(--top-padding)));
  display: inline-block;
  opacity: 0;

  /** Make it stretch out to appear */
  max-width: 0;
  transition: max-width 1s linear;

  padding: 0.25em 0.5em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  background: var(--chez-bg);
  color: var(--bob-color);
  border-radius: 7px;
  --line-color: var(--bob-color);
}

#content[data-title]::before {
  opacity: 1;
  content: attr(data-title);
  border: 7px solid var(--bob-color);
  max-width: 100%;
}

#title {
  min-width: 4em;
  margin-bottom: 80px;
  line-height: normal;
  text-align: center;
  color: var(--bob-color);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  font-size: 48px;
}

/* Blinking notes: The animation-duration is actually half of the total
 * amount of time taken between blinks.
 *
 * - When you refresh the POS page, there will be DURATION seconds until the
 *   first blink.
 * - Then there will be another DURATION seconds, which is begun by
 *   the eyes "un-blinking" (returning to normal). This is due, I think, to the
 *   animation-direction being set to "alternate".
 * - Then there will be another DURATION seconds, at the end of which the eyes
 *   blink.
 *
 * So the animation-duration being 30 seconds implies that each state (about to
 * blink, or recovering from un-blinking) takes 30 seconds -- but the total
 * time between consecutive blinks is ~60 seconds.
 */
#eyes {
  text-align: center;
  color: var(--bob-color);
  transition: color 200ms linear;
  font-size: 96px;
  min-width: 4em;
  margin-bottom: 80px;
  transform-origin: 50% 75%;
  animation-name: blinkeyes;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes blinkeyes {
	from {
		transform: scaleY(1.0);
	}
	99% {
		transform: scaleY(1.0);
	}
	to {
		transform: scaleY(0.1);
	}
}

.eye:first-child {
  margin-right: 0.5em;
}

.header-value {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.header-value::after {
  content: attr(data-value);
}

#balance.positive::after {
  color: var(--chez-green);
}

#balance.negative::after {
  color: var(--chez-red);
}

#user::after {
  color: var(--bob-color);
}

h1 {
  color: var(--bob-color);
  font-size: inherit;
  margin-top: 2em;
}
section {
  margin-top: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}
