#history-content {
  /* shoutouts to dylan lukes */
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  line-height: 1.2em;
}

#history-content p, ul {
  font-size: 0.7em;
}

/* mama mia */
.italian {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
  text-decoration-thickness: 0.1em;
}

h4 {
  margin-top: 1em;
  /* compensate for line height adjustment -- prevents underlines here from
   * getting too close to the lines below them and looking ugly. kind of a
   * gross hack.
   */
  margin-bottom: 0.3em;
  font-size: 1em;
  text-decoration: underline;
}

/* make it short so it doesn't look too gross */
audio {
    height: 1.5em;
}
