#history-content {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#history-content p, ul {
  font-size: 0.7em;
}

/* mama mia */
.italian {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
  text-decoration-thickness: 0.1em;
}

h4 {
  margin-top: 1em;
  font-size: 1em;
  text-decoration: underline;
}

/* make it short so it doesn't look too gross */
audio {
    height: 1.5em;
}
