[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"  # >=3.2, ==3.*
django-money = "*"
psycopg2 = "*"
channels = "*"
channels-redis = "*"
websockets = "*"
uuid = "*"
bidict = "*"

[dev-packages]

[requires]
python_version = "3.9"
